@keyframes example {
    from {color: rgb(255, 0, 0);}
    to {color: rgb(255, 187, 0);}
  }
.Anione {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
