@keyframes example {
    from {background-color: rgb(255, 0, 0);}
    to {background-color: rgb(255, 187, 0);}
  }
div {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }